<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间会映射到接口-->
<mapper namespace="cn.zczj.hq.mapper.PolicyMapper">

    <insert id="insertPolicy" parameterType="cn.zczj.hq.pojo.po.Policy" keyProperty="id" useGeneratedKeys="true">
        insert into "zczj_policy"("policy_name", "policy_content", "hq_category_id", "supervisor_phone", "sponsor", "address", "create_by", "create_time", "update_by", "update_time", "eddective_date", "deadline")
        VALUES(#{policy.policyName}, #{policy.policyContent},#{policy.hqCategoryId},#{policy.supervisorPhone},#{policy.sponsor}, #{policy.address}, #{policy.createBy}, #{policy.createTime},#{policy.updateBy},#{policy.updateTime},#{policy.eddectiveDate},#{policy.deadline});
    </insert>
    <update id="updatePolicy" parameterType="cn.zczj.hq.pojo.po.Policy" keyProperty="id" useGeneratedKeys="true">
        update "zczj_policy"
        set  "policy_name" = #{policy.policyName}, "policy_content" = #{policy.policyContent}, "hq_category_id" = #{policy.hqCategoryId}, "supervisor_phone" = #{policy.supervisorPhone}, "sponsor" = #{policy.sponsor}, "address" = #{policy.address},  "update_by" = #{policy.updateBy}, "update_time" = #{policy.updateTime}, "eddective_date" = #{policy.eddectiveDate}, "deadline" = #{policy.deadline} where "id" = #{policy.id};
    </update>
</mapper>